In [41]:
import pandas as pd
import numpy as np

In [42]:
data = pd.read_csv(r"C:\ProgramData\Ml_Data\titanic.csv")

In [43]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [44]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [45]:
data.shape

(891, 12)

In [46]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [47]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [48]:
data.keys()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [49]:
data['Age']
data['Age'].isnull().sum()

177

In [50]:
# data

In [51]:
data['Cabin']
data['Cabin'].isnull().sum()

687

# Replace using median

In [52]:
median = data['Age'].median()
data['Age'].fillna(median, inplace=True)

In [53]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [54]:
# data['Age']
# data['Age'].isnull().sum()

In [55]:
# data.drop(data.columns[[10]], axis = 1, inplace = True)

In [56]:
# data.tail()

In [57]:
data = data.iloc[:,[1,2,4,5,9]]
data

     Survived  Pclass     Sex   Age      Fare
0           0       3    male  22.0    7.2500
1           1       1  female  38.0   71.2833
2           1       3  female  26.0    7.9250
3           1       1  female  35.0   53.1000
4           0       3    male  35.0    8.0500
5           0       3    male  28.0    8.4583
6           0       1    male  54.0   51.8625
7           0       3    male   2.0   21.0750
8           1       3  female  27.0   11.1333
9           1       2  female  14.0   30.0708
10          1       3  female   4.0   16.7000
11          1       1  female  58.0   26.5500
12          0       3    male  20.0    8.0500
13          0       3    male  39.0   31.2750
14          0       3  female  14.0    7.8542
15          1       2  female  55.0   16.0000
16          0       3    male   2.0   29.1250
17          1       2    male  28.0   13.0000
18          0       3  female  31.0   18.0000
19          1       3  female  28.0    7.2250
20          0       2    male  35.0   26.0000
21          1       2    male  34.0   13.0000
22          1       3  female  15.0    8.0292
23          1       1    male  28.0   35.5000
24          0       3  female   8.0   21.0750
25          1       3  female  38.0   31.3875
26          0       3    male  28.0    7.2250
27          0       1    male  19.0  263.0000
28          1       3  female  28.0    7.8792
29          0       3    male  28.0    7.8958
..        ...     ...     ...   ...       ...
861         0       2    male  21.0   11.5000
862         1       1  female  48.0   25.9292
863         0       3  female  28.0   69.5500
864         0       2    male  24.0   13.0000
865         1       2  female  42.0   13.0000
866         1       2  female  27.0   13.8583
867         0       1    male  31.0   50.4958
868         0       3    male  28.0    9.5000
869         1       3    male   4.0   11.1333
870         0       3    male  26.0    7.8958
871         1       1  female  47.0   52.5542
872         0       1    male  33.0    5.0000
873         0       3    male  47.0    9.0000
874         1       2  female  28.0   24.0000
875         1       3  female  15.0    7.2250
876         0       3    male  20.0    9.8458
877         0       3    male  19.0    7.8958
878         0       3    male  28.0    7.8958
879         1       1  female  56.0   83.1583
880         1       2  female  25.0   26.0000
881         0       3    male  33.0    7.8958
882         0       3  female  22.0   10.5167
883         0       2    male  28.0   10.5000
884         0       3    male  25.0    7.0500
885         0       3  female  39.0   29.1250
886         0       2    male  27.0   13.0000
887         1       1  female  19.0   30.0000
888         0       3  female  28.0   23.4500
889         1       1    male  26.0   30.0000
890         0       3    male  32.0    7.7500

[891 rows x 5 columns]

In [58]:
real_x = data.iloc[:,[1,2,3,4]]
real_y = data.iloc[:,0]

In [59]:
real_x.Sex = real_x.Sex.map({'male': 1, 'female': 2})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [60]:
real_x.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [61]:
real_x.Age = real_x.Age.fillna(real_x.Age.mean())

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [62]:
real_x.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_test, y_train, y_test = train_test_split(real_x,real_y,test_size=0.2)

In [65]:
len(X_train)

712

In [66]:
len(X_test)

179

In [67]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [68]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [69]:
model.score(X_test,y_test)

0.79329608938547491