In [79]:
import pandas as pd

In [80]:
data = pd.read_csv(r"C:\ProgramData\Ml_Data\homeprices.csv")

In [81]:
data.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [82]:
data.columns

Index(['town', 'area', 'price'], dtype='object')

In [83]:
data.shape

(13, 3)

# USE DUMMY VARIABLE

In [84]:
dummies = pd.get_dummies(data.town)

In [85]:
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [86]:
data_dummies = pd.concat([data,dummies],axis='columns')

In [87]:
data_dummies

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [88]:
data_dummies.drop(['town','west windsor'],axis='columns',inplace=True)

In [89]:
data_dummies

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [90]:
x = data_dummies.drop(['price'],axis='columns')

In [91]:
x

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [92]:
y = data_dummies.price

In [93]:
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [94]:
from sklearn.linear_model import LinearRegression

In [95]:
model = LinearRegression()

In [96]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [97]:
model.predict([[3400,0,0]])

array([ 681241.66845839])

In [98]:
model.predict([[2800,1,0]])

array([ 565089.22812299])

In [99]:
from sklearn.preprocessing import LabelEncoder

In [100]:
label = LabelEncoder()

In [101]:
data_label = data
data_label.town = label.fit_transform(data_label.town)

In [102]:
data_label

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [103]:
x = data_label[['town','area']].values

In [104]:
x

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [105]:
y = data_label.price.values

In [106]:
y

array([550000, 565000, 610000, 680000, 725000, 585000, 615000, 650000,
       710000, 575000, 600000, 620000, 695000], dtype=int64)

In [107]:
from sklearn.preprocessing import OneHotEncoder

In [108]:
ohe = OneHotEncoder(categorical_features=[0])

In [109]:
x = ohe.fit_transform(x).toarray()

In [110]:
x

array([[  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          2.60000000e+03],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          3.00000000e+03],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          3.20000000e+03],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          3.60000000e+03],
       [  1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          4.00000000e+03],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
          2.60000000e+03],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
          2.80000000e+03],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
          3.30000000e+03],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00,
          3.60000000e+03],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
          2.60000000e+03],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
          2.90000000e+03],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
          3.10000000e+03],
       [  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
          3.60000000e+03]])

# DROP DUMMY VARIABLE

In [111]:
x = x[:,1:]

In [112]:
x

array([[  0.00000000e+00,   0.00000000e+00,   2.60000000e+03],
       [  0.00000000e+00,   0.00000000e+00,   3.00000000e+03],
       [  0.00000000e+00,   0.00000000e+00,   3.20000000e+03],
       [  0.00000000e+00,   0.00000000e+00,   3.60000000e+03],
       [  0.00000000e+00,   0.00000000e+00,   4.00000000e+03],
       [  0.00000000e+00,   1.00000000e+00,   2.60000000e+03],
       [  0.00000000e+00,   1.00000000e+00,   2.80000000e+03],
       [  0.00000000e+00,   1.00000000e+00,   3.30000000e+03],
       [  0.00000000e+00,   1.00000000e+00,   3.60000000e+03],
       [  1.00000000e+00,   0.00000000e+00,   2.60000000e+03],
       [  1.00000000e+00,   0.00000000e+00,   2.90000000e+03],
       [  1.00000000e+00,   0.00000000e+00,   3.10000000e+03],
       [  1.00000000e+00,   0.00000000e+00,   3.60000000e+03]])

In [113]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [115]:
model.predict([[0,1,3400]])

array([ 681241.6684584])

In [116]:
model.predict([[1,0,2800]])

array([ 590775.63964739])

In [117]:
model.score(x,y)

0.95739290372218755