In [5]:
import pandas as pd

In [6]:
a = pd.Series([1,2,3,4,5,6,7])

In [7]:
a

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [8]:
a.ndim

1

In [9]:
a.shape

(7,)

In [10]:
mydata = pd.read_csv("C:\ProgramData\Ml_Data\Bmi_male_female.csv")

In [11]:
mydata.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [12]:
type(mydata)

pandas.core.frame.DataFrame

In [13]:
mydata.keys()

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [14]:
mydata.shape

(500, 4)

In [15]:
Index_name = pd.Series(["Extremely Weak","weak","Overwight"," Obesity","Extreme Obesity"])

In [16]:
Index_name

0     Extremely Weak
1               weak
2          Overwight
3            Obesity
4    Extreme Obesity
dtype: object

In [17]:
mydata.head(1)

  Gender  Height  Weight  Index
0   Male     174      96      4

In [23]:
x_input = mydata.iloc[:,1:3]
y_output = mydata.iloc[:,3]
x_input

     Height  Weight
0       174      96
1       189      87
2       185     110
3       195     104
4       149      61
5       189     104
6       147      92
7       154     111
8       174      90
9       169     103
10      195      81
11      159      80
12      192     101
13      155      51
14      191      79
15      153     107
16      157     110
17      140     129
18      144     145
19      172     139
20      157     110
21      153     149
22      169      97
23      185     139
24      172      67
25      151      64
26      190      95
27      187      62
28      163     159
29      179     152
..      ...     ...
470     147     142
471     154     112
472     178      65
473     195     153
474     167      79
475     183     131
476     164     142
477     167      64
478     151      55
479     147     107
480     155     115
481     172     108
482     142      86
483     146      85
484     188     115
485     173     111
486     160     109
487     187      80
488     198     136
489     179     150
490     164      59
491     146     147
492     198      50
493     170      53
494     152      98
495     150     153
496     184     121
497     141     136
498     150      95
499     173     131

[500 rows x 2 columns]

In [19]:
# y_output

In [20]:
x_input.head()

   Height  Weight
0     174      96
1     189      87
2     185     110
3     195     104
4     149      61

In [25]:
#Using mapping and disctionary
# x_input["Gender"] = x_input["Gender"].map({"Male":0,"Female":1})

In [26]:
x_input.head()

   Height  Weight
0     174      96
1     189      87
2     185     110
3     195     104
4     149      61

In [27]:
#y_output

In [28]:
# Gender : Male / Female
# Height : Number (cm)
# Weight : Number (kg)
# Index :
# 0 - Extremely Weak
# 1 - weak
# 2 - Overwight
# 3 - Obesity
# 4 - Extreme Obesity

In [31]:
from sklearn.neighbors import KNeighborsClassifier

In [32]:
obj = KNeighborsClassifier()

# Spliting the Data

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x_input,y_output,test_size=.30,random_state=10)

In [35]:
x_train

     Height  Weight
84      168     123
388     157      66
149     168     115
101     154     105
451     172      90
231     153      78
446     146      70
181     177     117
76      165     104
173     196     131
147     140     146
326     199      92
384     182     149
257     150     119
113     192      90
194     141      94
396     187      96
52      163     110
27      187      62
460     179     123
64      175     135
109     149      66
155     179     103
410     179      56
110     150      70
38      171     152
105     195     126
197     177     117
225     155     144
184     192     108
..      ...     ...
480     155     115
200     184      57
33      160     131
62      193      54
122     187     138
363     195     147
344     170     115
54      196     116
395     164      71
239     146     110
356     189     124
16      157     110
371     160     124
420     195      61
40      175     120
256     172     109
73      180      75
8       174      90
494     152      98
413     161     154
221     183     138
473     195     153
156     182      84
123     184     160
369     147      67
320     190     118
15      153     107
484     188     115
125     158      96
265     141      86

[350 rows x 2 columns]

In [36]:
model = obj.fit(x_train,y_train)

In [37]:
model.predict([[189,104]])

array([3], dtype=int64)

In [38]:
yp = model.predict(x_test)

In [39]:
ya = y_test

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
acc = accuracy_score(ya,yp)*100

In [42]:
acc

94.666666666666671

In [43]:
x_test.shape

(150, 2)

In [44]:
x_train.shape

(350, 2)

In [45]:
x_input.shape

(500, 2)

In [46]:
xx_train = x_input[:375]
xx_test = x_input[375:]

In [47]:
xx_train.shape

(375, 2)