In [166]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [167]:
data = pd.read_csv("C:\ProgramData\Ml_Data\homeprices.csv")

In [168]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [169]:
import math

In [170]:
data.bedrooms.median()

4.0

In [171]:
data.bedrooms = data.bedrooms.fillna(data.bedrooms.median())

In [172]:
data1

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [173]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [174]:
# real_x = data.iloc[:,0:3].values
# # real_x
# real_y = data.iloc[:,3].values
# # real_y
# # real_x = data.iloc[:,0].values
# # real_y = data.iloc[:,1].values
# # real_x = real_x.reshape(-1,1)
# # real_y = real_y.reshape(-1,1)

In [175]:
# real_x

In [176]:
# real_y

In [177]:
# xtrain,ytrain,xtest,ytest = train_test_split(real_x,real_y,test_size=.30,random_state=0)

In [178]:
lin = LinearRegression()

In [179]:
# lin.fit(real_x,real_y)

In [180]:
# pred_y = lin.predict(xtest)

In [181]:
# pred_y[5]

In [182]:
lin.fit(data.drop('price',axis='columns'),data.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [183]:
lin.predict([[3000,3,40]])

array([ 498408.25158031])

In [184]:
lin.coef_

array([   112.06244194,  23388.88007794,  -3231.71790863])

In [185]:
lin.intercept_

221323.00186540384

In [186]:
112.06244194*3000 + 23388.88007794*3-3231.71790863*40 + 221323.00186540384

498408.25157402386