In [59]:
import pandas as pd

In [60]:
data=  pd.read_csv(r"C:\ProgramData\Ml_Data\Bmi_male_female.csv")

In [61]:
data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [62]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [63]:
data.tail()

     Gender  Height  Weight  Index
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

In [64]:
data.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [65]:
data["Gender"]=data["Gender"].map({"Male":0,"Female":1})

In [66]:
data.head()

   Gender  Height  Weight  Index
0       0     174      96      4
1       0     189      87      2
2       1     185     110      4
3       1     195     104      3
4       0     149      61      3

In [67]:
data.index

RangeIndex(start=0, stop=500, step=1)

In [68]:
data.describe

<bound method NDFrame.describe of      Gender  Height  Weight  Index
0         0     174      96      4
1         0     189      87      2
2         1     185     110      4
3         1     195     104      3
4         0     149      61      3
5         0     189     104      3
6         0     147      92      5
7         0     154     111      5
8         0     174      90      3
9         1     169     103      4
10        0     195      81      2
11        1     159      80      4
12        1     192     101      3
13        0     155      51      2
14        0     191      79      2
15        1     153     107      5
16        1     157     110      5
17        0     140     129      5
18        0     144     145      5
19        0     172     139      5
20        0     157     110      5
21        1     153     149      5
22        1     169      97      4
23        0     185     139      5
24        1     172      67      2
25        1     151      64      3
26        0     190      95      3
27        0     187      62      1
28        1     163     159      5
29        0     179     152      5
..      ...     ...     ...    ...
470       0     147     142      5
471       0     154     112      5
472       1     178      65      2
473       0     195     153      5
474       1     167      79      3
475       0     183     131      4
476       1     164     142      5
477       0     167      64      2
478       1     151      55      2
479       1     147     107      5
480       1     155     115      5
481       1     172     108      4
482       1     142      86      5
483       0     146      85      4
484       1     188     115      4
485       0     173     111      4
486       1     160     109      5
487       0     187      80      2
488       0     198     136      4
489       1     179     150      5
490       1     164      59      2
491       1     146     147      5
492       1     198      50      0
493       1     170      53      1
494       0     152      98      5
495       1     150     153      5
496       1     184     121      4
497       1     141     136      5
498       0     150      95      5
499       0     173     131      5

[500 rows x 4 columns]>

In [69]:
data.info

<bound method DataFrame.info of      Gender  Height  Weight  Index
0         0     174      96      4
1         0     189      87      2
2         1     185     110      4
3         1     195     104      3
4         0     149      61      3
5         0     189     104      3
6         0     147      92      5
7         0     154     111      5
8         0     174      90      3
9         1     169     103      4
10        0     195      81      2
11        1     159      80      4
12        1     192     101      3
13        0     155      51      2
14        0     191      79      2
15        1     153     107      5
16        1     157     110      5
17        0     140     129      5
18        0     144     145      5
19        0     172     139      5
20        0     157     110      5
21        1     153     149      5
22        1     169      97      4
23        0     185     139      5
24        1     172      67      2
25        1     151      64      3
26        0     190      95      3
27        0     187      62      1
28        1     163     159      5
29        0     179     152      5
..      ...     ...     ...    ...
470       0     147     142      5
471       0     154     112      5
472       1     178      65      2
473       0     195     153      5
474       1     167      79      3
475       0     183     131      4
476       1     164     142      5
477       0     167      64      2
478       1     151      55      2
479       1     147     107      5
480       1     155     115      5
481       1     172     108      4
482       1     142      86      5
483       0     146      85      4
484       1     188     115      4
485       0     173     111      4
486       1     160     109      5
487       0     187      80      2
488       0     198     136      4
489       1     179     150      5
490       1     164      59      2
491       1     146     147      5
492       1     198      50      0
493       1     170      53      1
494       0     152      98      5
495       1     150     153      5
496       1     184     121      4
497       1     141     136      5
498       0     150      95      5
499       0     173     131      5

[500 rows x 4 columns]>

In [104]:
real_x = data.iloc[:,0:3].values
real_y = data.iloc[:,3:4].values

In [105]:
# real_x
# real_y

In [106]:
from sklearn.model_selection import train_test_split

In [107]:
xtrain,xtest,ytrain,ytest = train_test_split(real_x,real_y,test_size=.30,random_state=0)

In [108]:
# xtrain
# ytrain
# xtest
# ytest

# KNN Algorithm

In [109]:
# from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [110]:
trainer = KNeighborsClassifier(n_neighbors=10)

In [111]:
lerner = trainer.fit(xtrain,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

In [112]:
Ya = ytest
Yp = lerner.predict(xtest)

In [113]:
Yp

array([5, 5, 4, 5, 5, 5, 3, 5, 4, 5, 2, 4, 2, 5, 5, 3, 5, 4, 5, 5, 5, 3, 3,
       4, 2, 1, 5, 4, 4, 2, 4, 5, 5, 5, 4, 0, 5, 4, 5, 2, 5, 4, 4, 5, 4, 2,
       5, 2, 5, 5, 4, 4, 2, 5, 5, 3, 4, 4, 0, 4, 4, 4, 4, 1, 4, 3, 2, 3, 5,
       5, 5, 5, 3, 4, 4, 5, 5, 5, 5, 5, 4, 3, 4, 5, 5, 3, 5, 5, 5, 4, 2, 2,
       3, 1, 3, 1, 4, 4, 0, 3, 5, 5, 4, 3, 5, 5, 3, 5, 4, 4, 4, 5, 3, 4, 5,
       5, 5, 4, 4, 5, 2, 5, 5, 5, 5, 5, 5, 2, 2, 4, 4, 4, 4, 3, 4, 2, 4, 2,
       0, 5, 5, 5, 3, 3, 4, 3, 4, 4, 5, 3], dtype=int64)

In [114]:
Ya

array([[5],
       [5],
       [4],
       [5],
       [5],
       [5],
       [3],
       [5],
       [4],
       [5],
       [2],
       [3],
       [2],
       [5],
       [5],
       [3],
       [5],
       [3],
       [5],
       [4],
       [4],
       [3],
       [3],
       [4],
       [2],
       [1],
       [5],
       [4],
       [4],
       [3],
       [4],
       [5],
       [5],
       [5],
       [4],
       [0],
       [5],
       [4],
       [5],
       [2],
       [5],
       [4],
       [4],
       [5],
       [4],
       [2],
       [5],
       [2],
       [5],
       [5],
       [4],
       [4],
       [3],
       [5],
       [5],
       [3],
       [4],
       [4],
       [0],
       [4],
       [4],
       [4],
       [4],
       [1],
       [4],
       [4],
       [2],
       [3],
       [5],
       [4],
       [5],
       [5],
       [3],
       [4],
       [4],
       [5],
       [4],
       [4],
       [5],
       [5],
       [5],
       [3],
       [4],
       [5],
       [5],
       [2],
       [5],
       [5],
       [5],
       [4],
       [2],
       [2],
       [3],
       [1],
       [3],
       [1],
       [4],
       [4],
       [0],
       [3],
       [5],
       [5],
       [4],
       [3],
       [5],
       [5],
       [2],
       [5],
       [4],
       [4],
       [4],
       [5],
       [3],
       [3],
       [5],
       [5],
       [5],
       [4],
       [4],
       [5],
       [2],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [2],
       [2],
       [4],
       [4],
       [5],
       [4],
       [3],
       [4],
       [2],
       [4],
       [2],
       [0],
       [5],
       [5],
       [5],
       [3],
       [3],
       [4],
       [3],
       [4],
       [4],
       [5],
       [3]], dtype=int64)

# LinearRegression Algorithm

In [115]:
from sklearn.linear_model import LinearRegression

In [116]:
lin = LinearRegression()

In [118]:
lin.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [119]:
pred_y = lin.predict(xtest)

In [120]:
pred_y

array([[ 5.1267086 ],
       [ 4.67821293],
       [ 3.86820064],
       [ 5.23915017],
       [ 5.19746552],
       [ 4.34288776],
       [ 2.85728923],
       [ 4.95546902],
       [ 3.29796747],
       [ 4.97856183],
       [ 2.28329398],
       [ 3.02786537],
       [ 2.18671506],
       [ 4.1951866 ],
       [ 4.66891701],
       [ 3.10112371],
       [ 4.31094464],
       [ 3.01510137],
       [ 4.4138625 ],
       [ 3.67320481],
       [ 3.75406274],
       [ 2.82548777],
       [ 2.70914246],
       [ 3.37262812],
       [ 2.16510074],
       [ 1.68583649],
       [ 5.78997644],
       [ 3.92906441],
       [ 3.36104861],
       [ 2.64495226],
       [ 3.30925298],
       [ 4.6379306 ],
       [ 5.62286838],
       [ 4.02807854],
       [ 3.18737383],
       [ 0.87500914],
       [ 5.12877436],
       [ 3.12215075],
       [ 4.85151827],
       [ 2.19394522],
       [ 4.19931812],
       [ 3.68994872],
       [ 3.87129928],
       [ 4.3681225 ],
       [ 3.79825877],
       [ 2.41041371],
       [ 4.69739204],
       [ 2.68390772],
       [ 4.79434041],
       [ 5.68912434],
       [ 4.31735975],
       [ 4.16552706],
       [ 2.60681186],
       [ 3.77243676],
       [ 5.76068635],
       [ 2.83271793],
       [ 3.11698635],
       [ 3.73266625],
       [ 1.30683707],
       [ 3.79264876],
       [ 4.09100807],
       [ 3.71510729],
       [ 3.28202865],
       [ 1.78668859],
       [ 3.36790934],
       [ 3.03199689],
       [ 2.00315708],
       [ 2.86761803],
       [ 4.19828524],
       [ 4.49169797],
       [ 4.84738675],
       [ 5.23110496],
       [ 3.0356828 ],
       [ 3.44876727],
       [ 3.68685008],
       [ 6.1669101 ],
       [ 3.71075794],
       [ 4.45355757],
       [ 5.95501874],
       [ 5.75700044],
       [ 4.37697281],
       [ 2.83869738],
       [ 4.12694105],
       [ 4.17106091],
       [ 5.80133813],
       [ 2.28867621],
       [ 6.08088776],
       [ 5.62744551],
       [ 4.53523056],
       [ 3.1756427 ],
       [ 2.8130932 ],
       [ 2.05863862],
       [ 2.84489467],
       [ 1.54388699],
       [ 2.89174372],
       [ 1.61382886],
       [ 3.15085358],
       [ 4.01796756],
       [ 1.24677839],
       [ 2.65366092],
       [ 5.72151307],
       [ 5.45989184],
       [ 3.81168622],
       [ 2.9102594 ],
       [ 3.98639388],
       [ 4.9862376 ],
       [ 2.45371851],
       [ 4.5383292 ],
       [ 3.50816251],
       [ 3.33610787],
       [ 3.68891584],
       [ 4.40707795],
       [ 2.96684999],
       [ 3.01510137],
       [ 5.7817134 ],
       [ 4.09860767],
       [ 5.71796882],
       [ 4.14198864],
       [ 3.65069927],
       [ 5.00578616],
       [ 2.54262166],
       [ 6.28761471],
       [ 5.39511438],
       [ 3.77346964],
       [ 5.69487601],
       [ 4.68020252],
       [ 3.98226236],
       [ 1.85604319],
       [ 2.16568801],
       [ 3.33404211],
       [ 3.77206732],
       [ 4.22617301],
       [ 3.70927945],
       [ 2.58637208],
       [ 3.11492059],
       [ 2.32143439],
       [ 3.37344318],
       [ 2.78070447],
       [ 1.36954877],
       [ 4.83971098],
       [ 4.25583254],
       [ 4.07182895],
       [ 3.03221472],
       [ 2.65262804],
       [ 3.79788933],
       [ 2.85146139],
       [ 3.32106028],
       [ 3.4299576 ],
       [ 4.61070627],
       [ 2.99614008]])

In [122]:
ytest

array([[5],
       [5],
       [4],
       [5],
       [5],
       [5],
       [3],
       [5],
       [4],
       [5],
       [2],
       [3],
       [2],
       [5],
       [5],
       [3],
       [5],
       [3],
       [5],
       [4],
       [4],
       [3],
       [3],
       [4],
       [2],
       [1],
       [5],
       [4],
       [4],
       [3],
       [4],
       [5],
       [5],
       [5],
       [4],
       [0],
       [5],
       [4],
       [5],
       [2],
       [5],
       [4],
       [4],
       [5],
       [4],
       [2],
       [5],
       [2],
       [5],
       [5],
       [4],
       [4],
       [3],
       [5],
       [5],
       [3],
       [4],
       [4],
       [0],
       [4],
       [4],
       [4],
       [4],
       [1],
       [4],
       [4],
       [2],
       [3],
       [5],
       [4],
       [5],
       [5],
       [3],
       [4],
       [4],
       [5],
       [4],
       [4],
       [5],
       [5],
       [5],
       [3],
       [4],
       [5],
       [5],
       [2],
       [5],
       [5],
       [5],
       [4],
       [2],
       [2],
       [3],
       [1],
       [3],
       [1],
       [4],
       [4],
       [0],
       [3],
       [5],
       [5],
       [4],
       [3],
       [5],
       [5],
       [2],
       [5],
       [4],
       [4],
       [4],
       [5],
       [3],
       [3],
       [5],
       [5],
       [5],
       [4],
       [4],
       [5],
       [2],
       [5],
       [5],
       [5],
       [5],
       [5],
       [5],
       [2],
       [2],
       [4],
       [4],
       [5],
       [4],
       [3],
       [4],
       [2],
       [4],
       [2],
       [0],
       [5],
       [5],
       [5],
       [3],
       [3],
       [4],
       [3],
       [4],
       [4],
       [5],
       [3]], dtype=int64)