In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot

In [100]:
data = pd.read_csv("C:\ProgramData\Ml_Data\salaries.csv")

In [101]:
data.shape

(16, 4)

In [102]:
data.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [103]:
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

# preparing Data

In [104]:
real_x = data.iloc[:,0:3]
# real_x
real_y = data.iloc[:,3]
# real_y

# Change name into number

In [105]:
from sklearn.preprocessing import LabelEncoder

In [106]:
label_company = LabelEncoder()
label_job = LabelEncoder()
label_degree = LabelEncoder()

In [107]:
real_x['company_number'] = label_company.fit_transform(real_x['company'])
real_x['job_number'] = label_job.fit_transform(real_x['job'])
real_x['degree_number'] = label_degree.fit_transform(real_x['degree'])

In [108]:
real_x

,company,job,degree,company_number,job_number,degree_number
0,google,sales executive,bachelors,2,2,0
1,google,sales executive,masters,2,2,1
2,google,business manager,bachelors,2,0,0
3,google,business manager,masters,2,0,1
4,google,computer programmer,bachelors,2,1,0
5,google,computer programmer,masters,2,1,1
6,abc pharma,sales executive,masters,0,2,1
7,abc pharma,computer programmer,bachelors,0,1,0
8,abc pharma,business manager,bachelors,0,0,0
9,abc pharma,business manager,masters,0,0,1
10,facebook,sales executive,bachelors,1,2,0
11,facebook,sales executive,masters,1,2,1
12,facebook,business manager,bachelors,1,0,0
13,facebook,business manager,masters,1,0,1
14,facebook,computer programmer,bachelors,1,1,0
15,facebook,computer programmer,masters,1,1,1

In [109]:
real_x.drop(['company','job','degree'],axis='columns',inplace=True)
real_x

    company_number  job_number  degree_number
0                2           2              0
1                2           2              1
2                2           0              0
3                2           0              1
4                2           1              0
5                2           1              1
6                0           2              1
7                0           1              0
8                0           0              0
9                0           0              1
10               1           2              0
11               1           2              1
12               1           0              0
13               1           0              1
14               1           1              0
15               1           1              1

# training and making prediction

In [110]:
from sklearn.tree import DecisionTreeClassifier

In [111]:
clf = DecisionTreeClassifier()

In [112]:
clf = clf.fit(real_x,real_y)

In [113]:
clf.score(real_x,real_y)

1.0

In [114]:
clf.predict([[2,1,0]])

array([0], dtype=int64)

In [115]:
clf.predict([[2,1,1]])

array([1], dtype=int64)

# Good Job Shivan!